<!-- portal.component.html -->
<mat-sidenav-container class="layout-container">
  <!-- Sidebar -->
  <mat-sidenav
    mode="side"
    opened
    class="sidebar white-theme"
  >
 <div class="sidebar-header">
  <img src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" alt="Profile">
  <h2>Admin panel</h2>
</div>

    <nav class="sidebar-nav">
     <a mat-list-item routerLink="dashboard" routerLinkActive="active-link">📊 Dashboard</a>
    <a mat-list-item routerLink="exams" routerLinkActive="active-link">📝 Exams</a>
    <a mat-list-item routerLink="students" routerLinkActive="active-link">🎓 Students</a>

      <a mat-list-item routerLink="profile" routerLinkActive="active-link">📝Reports</a>
      <a mat-list-item (click)="logout()">🚪 Logout</a>

    </nav>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
