<div class="dashboard-container">
  <mat-card class="dashboard-card students">
    <mat-card-title>Total Exams</mat-card-title>
    <mat-card-content>
      <h2>1250</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card exams">
    <mat-card-title>Completed  Exams</mat-card-title>
    <mat-card-content>
      <h2>340</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card pending">
    <mat-card-title>Pending Exams</mat-card-title>
    <mat-card-content>
      <h2>85</h2>
    </mat-card-content>
  </mat-card>

 
</div>

